html,body{height:100%;}

.setheightcontainer{
  height:calc(100% - 60px);
  background: yellow;
}

.bg-purple {
  background: rgb(48,0,50);
}
.bg-gray {
  background: rgb(74,74,74);
}
.bg-blue {
  background: rgb(50,101,196);
}
.bg-red {
  background: rgb(196,50,53);
}

.bg-black {
  background: rgb(6, 7, 6);
  height: 50%;
}

.bg-green {
  background: rgb(104, 196, 50);
  height: 90%;
}
.bg-pink {
    background: rgb(196, 50, 189);
    height: 90%;
}
.plotsize{
  width: 90%;
  height: 90%;
  border-style: solid;
  border-width: 5px;
  border-color: navy;
}